@import 'tailwindcss';

@keyframes shift {
    0%,
    100% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}

/* REMOVE background from html/body */
html,
body {
    color: #111827;
    font-family: 'Inter', system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    overflow: hidden;
}

/* Add a utility class for content areas */
.content-bg {
    background-color: #f9fafb;
}

.dark .content-bg {
    background-color: #0f172a;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    height: auto;
}

button,
a {
    transition-property: color, background-color, border-color,
        text-decoration-color, fill, stroke;
    transition-duration: 200ms;
}

@theme {
    --color-deep-navy: #1b3c53;
    --color-teal-mid: #234c6a;
    --color-blue-gray: #456882;
    --color-soft-white: #e3e3e3;
}
